body {
  margin:0;
  padding:0;
}
.app {
  margin:0;
  padding:0;
}
.header {
  width:92%;
  background-color: #CCC;
  height:60px;
  display: flex;
  align-items: center;
  padding:0 4%;
}
.header h2{
 padding:0;
 margin:0;
}
.main-container {
  width:92%;
  padding: 4%;
}
